// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@function rem-calc($size) {
	$remSize: $size / 16;
	@return #{$remSize}rem;
}

@mixin breakpoint($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@keyframes animInitialHeader {
	from {
		opacity: 0;
		transform: translate3d(0,800px,0);
	}
}

@keyframes animLoadedLogo {
	to {
		transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1);
	}
}

@keyframes animLoadedLoader {
	to {
		opacity: 0;
		transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1);
	}
}

@keyframes animLoadedHeader {
	to { transform: translate3d(0,-100%,0); }
}