.pre-loader {
	position: fixed;
	top: 0;
	z-index: 100;
	min-height: 480px;
	width: 100%;
	height: 100%;
    background: $t-muted;
    text-align: center;

    &__logo {
        margin: 0;
    }

    &__inner {
        display: block;
        margin: 0 auto;
    }

    &__logo,
    &__loader {
        position: absolute;
        left: 0;
        width: 100%;
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }

    &__loader {
        bottom: 20%;

        svg {

            path {
                fill: none;
                stroke-width: 6;

                &.circlebg {
                    stroke: #ddd;

                }
                &.circle {
                    transition: stroke-dashoffset 0.2s;
                    stroke: $t-tertiarty;
                }
            }
        }
    }

    &__logo {
        // bottom: 60%;

        svg {
            min-width: 320px;
            max-width: 480px;
            width: 25%;
        }
    }

    .loading & {
        animation-delay: 0.2s;

        &__logo,
        &__loader {
            opacity: 1;
            animation: animInitialHeader 1s ease-in-out both;
        }
    }

    .loaded & {
        animation: animLoadedLoader 1s ease-in-out forwards;

        &__logo,
        &__loader {
            opacity: 1;
        }

        &__logo {
            transform-origin: 50% 0;
            animation: animLoadedLogo 0.5s ease-in-out forwards;

            svg {

                path {
                    transition: all 0.5s ease-in-out 0.3s;
                }
            }
        }
    }
}
