.site-date {

    &--vertical {
        pointer-events: none;
        position: fixed;
        top: 2vw;
        right: 3vw;
        display: flex;
        flex-flow: column;
        align-items: center;
        font-size: rem-calc(12);
        opacity: 0;
        transition: opacity 0.8s ease-in 1.8s;
    }

    .loaded & {
        &--vertical {
            opacity: 1;
        }
    }
}