.site-header {
    position: fixed;
    left: 3vw;
    bottom: 0;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.8s ease-in 1.8s;

    .loaded & {
        opacity: 1;
    }

    @include breakpoint(medium) {
        bottom: 2vw;
    }

    &__menu {
        display: flex;
        flex-flow: row;
        margin: 0;
        list-style: none;

        &-item {
            margin-right: 4vw;
            text-transform: uppercase;
            font-size: rem-calc(14);;

            &:first-of-type {
                margin-right: 8vw;
                font-size: rem-calc(10);
                pointer-events: none;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

