button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.rvsp-panel--form .gform_wrapper .gform_footer input.button,
.rvsp-panel--form .gform_wrapper .gform_footer input[type=submit],
.rvsp-panel--form .gform_wrapper .gform_page_footer input.button,
.rvsp-panel--form .gform_wrapper .gform_page_footer input[type=submit] {
	border: 1px solid;
	border-color: $t-tertiarty;
	border-radius: 3px;
	background: transparent;
	color: $t-tertiarty;
	line-height: 1;
	padding: 10px 20px;
	font-family: $font__main__heading;
	font-weight: 500;
	font-size: 16px;

	&:hover,
	&:active,
	&:focus {
		border-color: $t-tertiarty;
		background-color: $t-tertiarty;
		color: white;
		outline: 0;
		box-shadow: none;
	}
}
