input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
.gform_wrapper .gfield input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {

	&,
	&:active
	&:hover,
	&:focus {
		border: 1px solid $color__border-input;
		border-radius: 3px;
		padding: 5px 10px;
		color: $color__text-input;
		outline: 0;
		box-shadow: none;
		font-family: $font__main;
		font-weight: 300;
	}
}

.gform_wrapper.gf_browser_chrome .gfield select,
select {

	&,
	&:hover
	&:active,
	&:focus {
		border: 1px solid $color__border-input;
		border-radius: 3px;
		padding: 5px 10px;
		color: $color__text-input;
		outline: 0;
		box-shadow: none;
		font-family: $font__main;
		font-weight: 300;
	}
}

textarea {
	width: 100%;
}


/* Spinner */
.gform_ajax_spinner {
	border: 4px solid rgba($t-tertiarty, 0.3);
	border-left: 4px solid rgba($t-tertiarty, 0.7);
	animation: spinner 1.1s infinite linear;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	position: absolute;
	margin-top: 10px;
}
@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}