$t-primary: #ffb90f;
$t-secondary: #cd6600;
$t-tertiarty: #6a1d2f;
$t-black: #303030;
$t-white: #ffffff;
$t-muted: #f3f2f1;
$t-grey: #f0f8ff;
$t-dark-grey: #cccccc;

$color__background-body: $t-muted;
$color__background-screen: $t-muted;
$color__background-hr: $t-grey;
$color__background-button: $t-secondary;
$color__background-pre: $t-grey;
$color__background-ins: $t-grey;

$color__text-screen: $t-primary;
$color__text-input: $t-black;
$color__text-input-focus: $t-black;
$color__link: $t-tertiarty;
$color__link-visited: $t-tertiarty;
$color__link-hover: darken($t-tertiarty, 20%);
$color__text-main: $t-black;

$color__border-button: $t-secondary;
$color__border-button-hover: $t-secondary;
$color__border-button-focus: $t-secondary;
$color__border-input: $t-dark-grey;
$color__border-abbr: $t-dark-grey;
