@font-face {
    font-family: 'Novitha Script';
    src: local('Novitha Script'), local('NovithaScript'),
        url('assets/fonts/NovithaScript.woff2') format('woff2'),
        url('assets/fonts/NovithaScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// stylelint-disable value-keyword-case
$font__main: 'kepler-std-subhead', serif;
$font__main__heading: 'kepler-std-subhead', serif;
$font__heading: 'Novitha Script', serif;

// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
