@font-face {
    font-family: 'Adobe Caslon Pro';
    src: local('Adobe Caslon Pro Bold'), local('ACaslonPro-Bold'),
        url('assets/fonts/ACaslonPro-Bold.woff2') format('woff2'),
        url('assets/fonts/ACaslonPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: local('Adobe Caslon Pro Italic'), local('ACaslonPro-Italic'),
        url('assets/fonts/ACaslonPro-Italic.woff2') format('woff2'),
        url('assets/fonts/ACaslonPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: local('Adobe Caslon Pro Bold Italic'), local('ACaslonPro-BoldItalic'),
        url('assets/fonts/ACaslonPro-BoldItalic.woff2') format('woff2'),
        url('Aassets/fonts/CaslonPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: local('Adobe Caslon Pro Regular'), local('ACaslonPro-Regular'),
        url('assets/fonts/ACaslonPro-Regular.woff2') format('woff2'),
        url('assets/fonts/ACaslonPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: local('Adobe Caslon Pro Semibold Italic'), local('ACaslonPro-SemiboldItalic'),
        url('assets/fonts/ACaslonPro-SemiboldItalic.woff2') format('woff2'),
        url('assets/fonts/ACaslonPro-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: local('Adobe Caslon Pro Semibold'), local('ACaslonPro-Semibold'),
        url('assets/fonts/ACaslonPro-Semibold.woff2') format('woff2'),
        url('assets/fonts/ACaslonPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



// stylelint-disable value-keyword-case
$font__main: 'Adobe Caslon Pro', serif;

// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
